.edit {
  color: green;
  border: none;
  padding: 0;
  margin-right: 2rem;
}
.delete {
  color: red;
  padding: 0;
  border: none;
}
.delete i,
.edit i {
  font-size: 1.7rem;
}

/* .table {
  background-color: red;

  max-width: 100%;
  box-sizing: border-box;
} */
